.borde-aviso-privacidad {

    border-style: solid;
    border-width: 10px;
    border-color: rgb(5, 50, 0;


}

.logo-gris {
    width: 100px;
    float: right;
}

.pegado-derecha {
    text-align: right;
    font-family: 'Open Sans', sans-serif;
}