.borde-aviso-privacidad {

    border-style: solid;
    border-width: 10px;
    border-color: blue;


}

.logo-gris {
    width: 80px;
    float: right;
}

.pegado-derecha {
    text-align: right;

}
