.logo {
    width: 100px;
    height: auto;
}




#floating-container {
    position: absolute;
    z-index: 5;
    top: 27%;
    left: 25%;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.segunda-seccion {
    padding: 30px;
    background-color: aquamarine;
}

.tercera-seccion {
    padding: 30px;
    background-color: white;
}

.cuarta-seccion {
    padding: 30px;
    background-color: palevioletred;
}

.fotoCEO {
    height: auto;
    
}