.logo {
    width: 100px;
    height: auto;
}

#floating-container {
    padding: 20%;  
    padding-left: 49%;
    padding-right: 50px;
    text-align: left;
    text-align: center;
    font-size: 50px;
    font-family: 'Cabin', sans-serif;
}

.primera-seccion {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 30px;
    background-color: rgb(13, 15, 25);
    color: white;
}

.primera-seccion h3{
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
}

.primera-seccion p{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.segunda-seccion {
    padding: 30px;
    background-color: rgb(0, 49,  82);
    color: rgb(151, 215, 0);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px

}

.segunda-seccion-col {
    height: 600px;
    border-style: dotted;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 200px
}

.segunda-seccion-blanco {
    color: white;
    font-weight: 400;
    
}

.segunda-seccion-blanco-tres
{
    padding-top: 90px;
    color: white;
    font-weight: 400;
}

.tercera-seccion {
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    color: black;
    padding-left: 30px;
    text-align: center;
}

.item-texto-deslizable{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.cuarta-seccion {
    padding: 30px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.quinta-seccion {
    padding: 30px;
    background-color: rgb(0, 49,  82);
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.quinta-seccion h4{
    font-size: 35px;
    padding-left: 100px
}

.quinta-seccion li{
    list-style: none;
    height: auto;
    width: auto;
}

.services_section h2{
    padding-bottom: 30px;
}

.fotoCEO {
    height: auto;
    border-radius: 50%;
    
}

#masSobreMargoth{
    position: relative;
    left: 36%;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(0, 135, 209);
    color: white;
}

.oculta-seccion {
    visibility: hidden;
    opacity: 0;
    background-color: darkblue;
    color: white;
    text-align: center;
    height: 0;
    overflow: hidden;
}

.ending-logo {
    width: auto;
    height: auto;
    max-height: 100px;
    padding: 0px 0px 30px;
}

.texto-deslizable {
    background-color: deepskyblue;
    text-align: center;

}

.item-texto-deslizable {
    padding-top: 60px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
}


.item-texto-deslizable p {
    max-width: 350px;
    width: 50%;
    margin: 0 auto;
}

.list-inline{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

p.copyright {
    color: white;
}

#contact-form {
    padding: 60px;
}

.number-in-text {
    float: left;
    padding-left: 25%;
    padding-right:
    padding-top: 48px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color:black;
    font-size: 80px;
    
}

#div-iframe {
    padding-top: 25%;
    padding-left: 25%;
    padding-bottom: 350px;
}

#div-primera-seccion-col-left {
    padding-top: 15%;
    text-align: center;
    
}

#masInformacion-flotante {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    text-align: center;
    position: fixed;
    top: 100px;
    left: 25%;
    width: 50%;
    height: auto;
    margin: auto;
    background-color: white;
    z-index: -550;
    border-radius: 5%;
    font-family: 'Open Sans', sans-serif;
    
}


#puzzle-piece {
    padding-left: 25px;
    font-size: 44px;
    color: rgb(151, 215, 0);
    
}

#check {
    padding-left: 47%;
    font-size: 44px;
}